openapi: 3.0.3
info:
  title: Q-Love API Documentation
  description: RESTful API Specification for Q-Love - Super App Háº¹n HÃ² & Máº¡ng XÃ£ Há»™i
    Giáº£i TrÃ­. Táº¥t cáº£ cÃ¡c endpoint (trá»« Auth) yÃªu cáº§u JWT Bearer Token.
  version: 1.1.0
  contact:
    name: Q-Love Engineering Team
servers:
  - url: https://api.q-love.com/v1
    description: Production Server
  - url: http://localhost:8080/v1
    description: Local Development Server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: 401 â€” Token khÃ´ng há»£p lá»‡ hoáº·c Ä‘Ã£ háº¿t háº¡n.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 401
            message: ERR_UNAUTHORIZED
    Forbidden:
      description: 403 â€” KhÃ´ng cÃ³ quyá»n thá»±c hiá»‡n hÃ nh Ä‘á»™ng nÃ y.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 403
            message: ERR_FORBIDDEN
    NotFound:
      description: 404 â€” KhÃ´ng tÃ¬m tháº¥y tÃ i nguyÃªn.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 404
            message: ERR_NOT_FOUND
    UnprocessableEntity:
      description: 422 â€” Dá»¯ liá»‡u Ä‘áº§u vÃ o khÃ´ng há»£p lá»‡.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 422
            message: ERR_VALIDATION
            details: 'phone: invalid format'
    TooManyRequests:
      description: 429 â€” VÆ°á»£t quÃ¡ giá»›i háº¡n táº§n suáº¥t request (Rate Limit).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: 429
            message: ERR_RATE_LIMIT
            retry_after_seconds: 3600
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: ERR_CONDITION_NOT_MET
        details:
          type: string
          description: ThÃ´ng tin lá»—i bá»• sung (optional)
    FeedUserResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        spiritual_match_score:
          type: integer
          description: "Äiá»ƒm tÆ°Æ¡ng há»£p tÃ¢m linh (0-100)"
        zodiac:
          type: string
          description: "Cung hoÃ ng Ä‘áº¡o"
        numerology:
          type: integer
          description: "Con sá»‘ chá»§ Ä‘áº¡o"
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        phone:
          type: string
          example: 0901234567
        name:
          type: string
          example: Nguyá»…n VÄƒn A
        dob:
          type: string
          format: date
        gender:
          type: string
          enum:
            - male
            - female
            - other
        level:
          type: integer
          example: 3
        is_shadowbanned:
          type: boolean
          default: false
        created_at:
          type: string
          format: date-time
    WalletInfo:
      type: object
      properties:
        balance:
          type: number
          example: 350.0
          description: Sá»‘ dÆ° Xu kháº£ dá»¥ng
        hold_balance:
          type: number
          example: 100.0
          description: Sá»‘ dÆ° Xu Ä‘ang bá»‹ Ä‘Ã³ng bÄƒng (cá»c Date)
    Match:
      type: object
      properties:
        id:
          type: string
          format: uuid
        partner:
          $ref: '#/components/schemas/User'
        streak_score:
          type: integer
          example: 7
        island_level:
          type: integer
          example: 2
        last_interaction_at:
          type: string
          format: date-time
    DatingContract:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_a_id:
          type: string
          format: uuid
        user_b_id:
          type: string
          format: uuid
        deposit_amount:
          type: number
          example: 100
        status:
          type: string
          enum:
            - pending
            - active
            - completed
            - cancelled
        appointment_time:
          type: string
          format: date-time
        qr_token:
          type: string
          description: Chá»‰ hiá»ƒn thá»‹ cho chá»§ háº¹n (rotate má»—i 30s)
    CourtCase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        defendant_name_masked:
          type: string
          example: Nguyá»…n ***
        reason:
          type: string
        status:
          type: string
          enum:
            - voting
            - guilty
            - not_guilty
            - settled
        vote_count:
          type: integer
        created_at:
          type: string
          format: date-time
    CardProfile:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        ticker:
          type: string
          example: '#NVA'
        current_price:
          type: number
          example: 147.5
        total_cards:
          type: integer
          example: 1000
        available_cards:
          type: integer
          example: 820
        is_halted:
          type: boolean
          description: Circuit Breaker Ä‘ang kÃ­ch hoáº¡t
    WalletTransaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: number
          example: -50
          description: Ã‚m = chi, DÆ°Æ¡ng = thu
        type:
          type: string
          enum:
            - deposit
            - contract_hold
            - contract_release
            - penalty
            - card_buy
            - card_sell
            - cv_lookup
            - clan_create
            - island_revive
        reference_id:
          type: string
          format: uuid
          nullable: true
        created_at:
          type: string
          format: date-time
    Clan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        leader_id:
          type: string
          format: uuid
        member_count:
          type: integer
        weekly_score:
          type: integer
security:
  - bearerAuth: []
paths:
  /auth/send-otp:
    post:
      summary: Gá»­i mÃ£ OTP vá» sá»‘ Ä‘iá»‡n thoáº¡i
      description: Gá»i API ESMS.vn Ä‘á»ƒ gá»­i SMS OTP. OTP cÃ³ TTL 120 giÃ¢y, tá»‘i Ä‘a 5 láº§n/ngÃ y/SÄT.
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
              properties:
                phone:
                  type: string
                  example: 0901234567
      responses:
        '200':
          description: OTP Ä‘Ã£ Ä‘Æ°á»£c gá»­i thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OTP sent
                  retry_after_seconds:
                    type: integer
                    example: 60
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /auth/verify-otp:
    post:
      summary: XÃ¡c thá»±c OTP vÃ  Ä‘Äƒng nháº­p / táº¡o tÃ i khoáº£n
      description: Náº¿u SÄT chÆ°a tá»“n táº¡i â†’ táº¡o tÃ i khoáº£n má»›i. Náº¿u Ä‘Ã£ cÃ³ â†’ Ä‘Äƒng nháº­p.
        Tráº£ vá» JWT Access Token (15 phÃºt) vÃ  Refresh Token (30 ngÃ y).
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - otp
              properties:
                phone:
                  type: string
                  example: 0901234567
                otp:
                  type: string
                  example: '123456'
      responses:
        '200':
          description: XÃ¡c thá»±c thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  is_new_user:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: OTP sai hoáº·c Ä‘Ã£ háº¿t háº¡n
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 400
                message: ERR_INVALID_OTP
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /auth/refresh:
    post:
      summary: LÃ m má»›i Access Token
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Cáº·p token má»›i (token cÅ© Ä‘Ã£ bá»‹ vÃ´ hiá»‡u hÃ³a)
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /upload/presigned-url:
    post:
      summary: Láº¥y Presigned URL Ä‘á»ƒ upload file trá»±c tiáº¿p lÃªn Cloudflare R2
      description: Táº¡o link táº£i lÃªn an toÃ n cÃ³ thá»i háº¡n 15 phÃºt. Há»— trá»£ upload avatar
        vÃ  áº£nh.
      tags:
        - Upload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
                - content_type
                - file_size
              properties:
                filename:
                  type: string
                  example: avatar.jpg
                content_type:
                  type: string
                  example: image/jpeg
                file_size:
                  type: integer
                  example: 1048576
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_url:
                    type: string
                  file_key:
                    type: string
                  expires_in:
                    type: integer
        "400":
          $ref: '#/components/responses/BadRequestError'
        "500":
          $ref: '#/components/responses/InternalError'

  /ai/suggest:
    post:
      summary: Nháº­n gá»£i Ã½ tin nháº¯n tá»« AI Má» Há»—n
      description: Gá»­i match_id Ä‘á»ƒ AI tá»± Ä‘á»™ng phÃ¢n tÃ­ch 5 tin nháº¯n gáº§n nháº¥t vÃ  Ä‘Æ°a ra 3 gá»£i Ã½ pháº£n há»“i (ÄÃ£ che thÃ´ng tin cÃ¡ nhÃ¢n).
      tags:
        - AI Wingman
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - match_id
              properties:
                match_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Danh sÃ¡ch gá»£i Ã½ tin nháº¯n
          content:
            application/json:
              schema:
                type: object
                properties:
                  replies:
                    type: array
                    items:
                      type: string
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/UnauthorizedError'
        "500":
          $ref: '#/components/responses/InternalError'
  /users/me:
    get:
      summary: Láº¥y thÃ´ng tin profile cá»§a báº£n thÃ¢n
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      summary: Cáº­p nháº­t thÃ´ng tin profile
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                gender:
                  type: string
                latitude:
                  type: number
                longitude:
                  type: number
      responses:
        '200':
          description: Cáº­p nháº­t thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /users/me/wallet:
    get:
      summary: Xem sá»‘ dÆ° vÃ­ Xu
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/me/wallet/transactions:
    get:
      summary: Lá»‹ch sá»­ giao dá»‹ch Xu
      tags:
        - Users
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
        - in: query
          name: type
          schema:
            type: string
            description: 'Lá»c theo loáº¡i giao dá»‹ch (VD: card_buy)'
      responses:
        '200':
          description: Danh sÃ¡ch giao dá»‹ch
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/profile:
    get:
      summary: Xem profile cÃ´ng khai cá»§a má»™t user khÃ¡c
      tags:
        - Users
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /users/feed:
    get:
      summary: Láº¥y danh sÃ¡ch profiles Ä‘á»ƒ quáº¹t tháº»
      description: Thuáº­t toÃ¡n tráº£ vá» danh sÃ¡ch profiles Ä‘Ã£ lá»c theo GPS bÃ¡n kÃ­nh 50km
        vÃ  Há»‡ TÃ¢m Linh (náº¿u Ä‘Æ°á»£c chá»n).
      tags:
        - Matches
      parameters:
        - in: query
          name: filter
          schema:
            type: string
            enum:
              - default
              - spiritual
          description: spiritual = Lá»c theo Há»‡ TÃ¢m Linh
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: Danh sÃ¡ch profile Ä‘á»ƒ quáº¹t
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /court/cases:
    post:
      summary: Táº¡o má»™t vá»¥ kiá»‡n má»›i (TÃ²a Ã¡n TÃ¬nh yÃªu)
      tags:
        - Court
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - match_id
                - reason
              properties:
                match_id:
                  type: string
                  format: uuid
                reason:
                  type: string
      responses:
        '201':
          description: Táº¡o thÃ nh cÃ´ng
        '400':
          description: Lá»—i logic (chÆ°a im láº·ng 48h)
  /court/{case_id}/vote:
    post:
      summary: Bá» phiáº¿u cho má»™t vá»¥ kiá»‡n
      tags:
        - Court
      parameters:
        - in: path
          name: case_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vote
              properties:
                vote:
                  type: string
                  enum: [guilty, not_guilty]
      responses:
        '200':
          description: Bá» phiáº¿u thÃ nh cÃ´ng
  /court/{case_id}/withdraw:
    post:
      summary: RÃºt Ä‘Æ¡n kiá»‡n
      tags:
        - Court
      parameters:
        - in: path
          name: case_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ÄÃ£ rÃºt Ä‘Æ¡n
  /devices/token:
    post:
      summary: ÄÄƒng kÃ½ FCM Token
      description: Nháº­n vÃ  lÆ°u trá»¯ FCM Token cá»§a user vÃ o Redis Ä‘á»ƒ gá»­i push notification
      tags:
        - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fcm_token
                - device_id
              properties:
                fcm_token:
                  type: string
                  description: FCM Token nháº­n Ä‘Æ°á»£c tá»« Firebase SDK
                device_id:
                  type: string
                  description: Device ID Ä‘á»‹nh danh thiáº¿t bá»‹
      responses:
        '200':
          description: ÄÄƒng kÃ½ token thÃ nh cÃ´ng
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /matches/swipe:
    post:
      summary: Quáº¹t tháº» (Like/Pass)
      tags:
        - Matches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_id
                - action
              properties:
                target_id:
                  type: string
                  format: uuid
                action:
                  type: string
                  enum:
                    - like
                    - pass
      responses:
        '200':
          description: Káº¿t quáº£ quáº¹t tháº»
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_match:
                    type: boolean
                  match:
                    nullable: true
                    $ref: '#/components/schemas/Match'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Target user khÃ´ng tá»“n táº¡i
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /matches:
    get:
      summary: Láº¥y danh sÃ¡ch cÃ¡c Match hiá»‡n táº¡i
      tags:
        - Matches
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Danh sÃ¡ch Match
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Match'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /locket/send:
    post:
      summary: Gá»­i áº£nh Blind Locket Ä‘áº¿n Widget cá»§a Ä‘á»‘i phÆ°Æ¡ng
      description: 'Upload áº£nh vÃ  trigger silent push tá»›i Widget cá»§a ngÆ°á»i nháº­n. Worker
        xá»­ lÃ½ blur ngáº§m. Rate limit: 10 áº£nh/giá»/cáº·p Ä‘Ã´i (miá»…n rate limit náº¿u cÃ³ Premium).'
      tags:
        - Locket
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
                - match_id
              properties:
                image:
                  type: string
                  format: binary
                  description: File áº£nh (JPG/PNG, tá»‘i Ä‘a 10MB)
                match_id:
                  type: string
                  format: uuid
      responses:
        '202':
          description: Accepted â€” áº¢nh Ä‘Ã£ nháº­n, Worker Ä‘ang xá»­ lÃ½ blur vÃ  gá»­i Push
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Processing
                  estimated_delivery_ms:
                    type: integer
                    example: 2500
        '400':
          description: áº¢nh NSFW bá»‹ tá»« chá»‘i (tá»· lá»‡ khá»a thÃ¢n > 30%)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 400
                message: ERR_NSFW_CONTENT
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /court/cases:
    post:
      summary: ÄÃ¢m Ä‘Æ¡n kiá»‡n (Ghosting, Trap...)
      description: 'Äiá»u kiá»‡n: Bá»‹ Ä‘Æ¡n im láº·ng > 48h vÃ  Streak cÅ© > 5 ngÃ y. Vi pháº¡m
        Ä‘iá»u kiá»‡n tráº£ vá» ERR_CONDITION_NOT_MET.'
      tags:
        - Court
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - defendant_id
                - reason
              properties:
                defendant_id:
                  type: string
                  format: uuid
                reason:
                  type: string
                  description: 'LÃ½ do kiá»‡n: ''Ghosting'', ''Trapboy/Trapgirl'', ''BÃ¹ng
                    kÃ¨o''...'
                  example: Ghosting sau 2 tuáº§n háº¹n hÃ²
      responses:
        '201':
          description: Khá»Ÿi kiá»‡n thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourtCase'
        '400':
          description: KhÃ´ng Ä‘á»§ Ä‘iá»u kiá»‡n kiá»‡n
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 400
                message: ERR_CONDITION_NOT_MET
                details: Streak < 5 days
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      summary: Láº¥y danh sÃ¡ch vá»¥ Ã¡n Ä‘ang chá» biá»ƒu quyáº¿t (cho Bá»“i tháº©m Ä‘oÃ n)
      tags:
        - Court
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Danh sÃ¡ch cÃ¡c vá»¥ kiá»‡n Ä‘ang public (Ä‘Ã£ áº©n danh thÃ´ng tin PII)
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CourtCase'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /court/cases/{case_id}/vote:
    post:
      summary: Bá» phiáº¿u biá»ƒu quyáº¿t (Jury Vote)
      tags:
        - Court
      parameters:
        - in: path
          name: case_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - vote
              properties:
                vote:
                  type: string
                  enum:
                    - guilty
                    - not_guilty
      responses:
        '200':
          description: Ghi nháº­n phiáº¿u báº§u thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Vote recorded
                  current_vote_count:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: KhÃ´ng Ä‘Æ°á»£c phÃ©p vote vá»¥ kiá»‡n mÃ  mÃ¬nh lÃ  Ä‘Æ°Æ¡ng sá»±
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /court/cases/{case_id}/withdraw:
    post:
      summary: RÃºt Ä‘Æ¡n kiá»‡n (Chá»‰ nguyÃªn Ä‘Æ¡n, chá»‰ trÆ°á»›c khi Ä‘á»§ 50 vote)
      tags:
        - Court
      parameters:
        - in: path
          name: case_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ÄÆ¡n kiá»‡n Ä‘Ã£ Ä‘Æ°á»£c rÃºt thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Case withdrawn successfully
        '400':
          description: Vá»¥ Ã¡n Ä‘Ã£ cÃ³ phÃ¡n quyáº¿t, khÃ´ng thá»ƒ rÃºt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 400
                message: ERR_VERDICT_ALREADY_ISSUED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /clans:
    post:
      summary: Táº¡o Bang há»™i (Tá»‘n phÃ­ Xu)
      tags:
        - Clans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  example: Q-Tech Lovers
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  leader_id:
                    type: string
                    format: uuid
        '400':
          description: Lá»—i tÃªn Bang há»™i Ä‘Ã£ tá»“n táº¡i hoáº·c khÃ´ng há»£p lá»‡
        '402':
          description: KhÃ´ng Ä‘á»§ Xu Ä‘á»ƒ táº¡o Bang há»™i
  /clans/leaderboard:
    get:
      summary: Báº£ng xáº¿p háº¡ng Clan theo Ä‘iá»ƒm tuáº§n
      tags:
        - Clans
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Top Clan xáº¿p theo weekly_score
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Clan'
                    - type: object
                      properties:
                        rank:
                          type: integer
                          example: 1
        '401':
          $ref: '#/components/responses/Unauthorized'
  /landmarks/{landmark_id}/checkin:
    post:
      summary: Check-in GPS táº¡i Landmark Ä‘á»ƒ cá»™ng Ä‘iá»ƒm Clan
      description: Há»‡ thá»‘ng dÃ¹ng PostGIS ST_DWithin vá»›i radius_meters cá»§a Landmark
        Ä‘á»ƒ xÃ¡c nháº­n. PhÃ¡t hiá»‡n Mock Location â†’ ban 7 ngÃ y.
      tags:
        - Clans
      parameters:
        - in: path
          name: landmark_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - latitude
                - longitude
                - is_mocked
              properties:
                latitude:
                  type: number
                  example: 10.7769
                longitude:
                  type: number
                  example: 106.7009
                is_mocked:
                  type: boolean
                  example: false
      responses:
        '200':
          description: Check-in há»£p lá»‡ â€” cá»™ng 10 Ä‘iá»ƒm cho Clan
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check-in successful. +10 points
                  clan_weekly_score:
                    type: integer
        '400':
          description: Vá»‹ trÃ­ GPS náº±m ngoÃ i bÃ¡n kÃ­nh há»£p lá»‡ cá»§a Landmark
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 400
                message: ERR_OUT_OF_RANGE
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: PhÃ¡t hiá»‡n Fake GPS hoáº·c Ä‘ang trong thá»i gian bá»‹ cáº¥m check-in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 403
                message: ERR_FAKE_GPS_DETECTED
                ban_until: '2026-08-18T00:00:00Z'
  /contracts:
    post:
      summary: Gá»­i yÃªu cáº§u Kháº¿ Æ¯á»›c Ä‘i Date
      description: 'Äiá»u kiá»‡n: Cáº£ 2 Ä‘Ã£ chat â‰¥ 20 tin vÃ  sá»‘ dÆ° â‰¥ deposit_amount. ÄÃ³ng
        bÄƒng Xu ngay khi táº¡o.'
      tags:
        - Contracts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_user_id
                - deposit_amount
                - appointment_time
              properties:
                target_user_id:
                  type: string
                  format: uuid
                deposit_amount:
                  type: number
                  example: 100
                  description: Sá»‘ Xu má»—i bÃªn cá»c (pháº£i báº±ng nhau)
                appointment_time:
                  type: string
                  format: date-time
                  description: Giá» háº¹n dá»± kiáº¿n
                location_note:
                  type: string
                  example: CafÃ© The Coffee House, Q1
      responses:
        '201':
          description: Táº¡o kháº¿ Æ°á»›c thÃ nh cÃ´ng, Xu bá»‹ Ä‘Ã³ng bÄƒng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatingContract'
        '400':
          description: KhÃ´ng Ä‘á»§ Xu hoáº·c chÆ°a Ä‘á»§ Ä‘iá»u kiá»‡n chat
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /contracts/{contract_id}/accept:
    post:
      summary: NgÆ°á»i nháº­n lá»i Ä‘á»“ng Ã½ Kháº¿ Æ¯á»›c
      tags:
        - Contracts
      parameters:
        - in: path
          name: contract_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Kháº¿ Æ°á»›c Ä‘Æ°á»£c cháº¥p nháº­n, Xu cá»§a User B bá»‹ Ä‘Ã³ng bÄƒng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatingContract'
        '400':
          description: User B khÃ´ng Ä‘á»§ Xu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /contracts/{contract_id}/cancel:
    post:
      summary: Há»§y Kháº¿ Æ¯á»›c (ghi nháº­n ngÆ°á»i há»§y Ä‘á»ƒ xá»­ lÃ½ pháº¡t)
      description: Náº¿u Cron Job phÃ¡t hiá»‡n quÃ¡ giá» háº¹n 30 phÃºt cÅ©ng tá»± gá»i endpoint
        logic nÃ y.
      tags:
        - Contracts
      parameters:
        - in: path
          name: contract_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: Báº­n Ä‘á»™t xuáº¥t
      responses:
        '200':
          description: Xá»­ lÃ½ há»§y thÃ nh cÃ´ng. Xu Ä‘Ã£ bá»‹ phÃ¢n phá»‘i theo quy táº¯c.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cancelled_by:
                    type: string
                    format: uuid
                  penalty_applied:
                    type: boolean
                  message:
                    type: string
                    example: 100 Xu transferred to partner
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /contracts/{contract_id}/scan:
    post:
      summary: QuÃ©t Dynamic QR code Ä‘á»ƒ xÃ¡c nháº­n gáº·p máº·t
      description: QR Token rotate má»—i 30 giÃ¢y. QuÃ©t thÃ nh cÃ´ng â†’ HoÃ n tráº£ toÃ n bá»™
        Xu Ä‘Ã³ng bÄƒng cho cáº£ 2.
      tags:
        - Contracts
      parameters:
        - in: path
          name: contract_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - qr_token
              properties:
                qr_token:
                  type: string
      responses:
        '200':
          description: Khá»›p mÃ£ QR â€” HoÃ n tiá»n cá»c cho cáº£ 2 thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: completed
                  message:
                    type: string
                    example: 100 Xu returned to both users
        '400':
          description: QR Token sai hoáº·c Ä‘Ã£ háº¿t háº¡n (> 30 giÃ¢y)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 400
                message: ERR_QR_EXPIRED
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /cards/{user_id}:
    get:
      summary: Xem thÃ´ng tin Tháº» BÃ i cá»§a má»™t Profile
      tags:
        - Cards
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ThÃ´ng tin Tháº» BÃ i
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: ChÆ°a Ä‘áº¡t Level 5 Ä‘á»ƒ má»Ÿ tÃ­nh nÄƒng SÃ n giao dá»‹ch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'
  /cards/trade:
    post:
      summary: Äáº·t lá»‡nh mua/bÃ¡n Tháº» BÃ i Profile
      description: Ãp dá»¥ng phÃ­ giao dá»‹ch 2%. Náº¿u Circuit Breaker Ä‘ang kÃ­ch hoáº¡t â†’
        tráº£ vá» 503.
      tags:
        - Cards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_user_id
                - type
                - quantity
              properties:
                target_user_id:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum:
                    - buy
                    - sell
                quantity:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Khá»›p lá»‡nh thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                type: object
                properties:
                  trade_id:
                    type: string
                    format: uuid
                  quantity:
                    type: integer
                  price_per_unit:
                    type: number
                  total_cost:
                    type: number
                  fee:
                    type: number
                    description: PhÃ­ giao dá»‹ch 2%
                  new_wallet_balance:
                    type: number
        '400':
          description: KhÃ´ng Ä‘á»§ Xu hoáº·c khÃ´ng Ä‘á»§ Tháº» BÃ i Ä‘á»ƒ bÃ¡n
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Circuit Breaker Ä‘ang kÃ­ch hoáº¡t â€” Giao dá»‹ch táº¡m dá»«ng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 503
                message: ERR_CIRCUIT_BREAKER_ACTIVE
                resume_at: '2026-08-11T12:45:00Z'
  /ex-ratings:
    post:
      summary: ÄÃ¡nh giÃ¡ Ä‘á»‘i phÆ°Æ¡ng sau khi Unmatch
      description: Chá»‰ thá»±c hiá»‡n Ä‘Æ°á»£c sau khi gá»i API unmatch. Reviewer Ä‘Æ°á»£c áº©n danh
        hoÃ n toÃ n.
      tags:
        - Ex-Rating
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_user_id
                - rating_score
                - match_id
              properties:
                target_user_id:
                  type: string
                  format: uuid
                match_id:
                  type: string
                  format: uuid
                rating_score:
                  type: integer
                  minimum: 1
                  maximum: 5
                tags:
                  type: array
                  items:
                    type: string
                  example:
                    - '#Lá»‹ch_sá»±'
                    - '#ÄÃºng_giá»'
      responses:
        '201':
          description: ÄÃ¡nh giÃ¡ Ä‘Ã£ Ä‘Æ°á»£c ghi nháº­n (áº©n danh)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Rating submitted anonymously
        '400':
          description: ChÆ°a Ä‘á»§ Ä‘iá»u kiá»‡n (< 50 tin nháº¯n)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /users/{user_id}/ex-rating:
    get:
      summary: Tra cá»©u CV TÃ¬nh TrÆ°á»ng (Máº¥t phÃ­ 50 Xu)
      description: Tá»± Ä‘á»™ng trá»« 50 Xu khi gá»i API thÃ nh cÃ´ng. Tráº£ vá» Ä‘iá»ƒm tá»•ng há»£p
        vÃ  tag cloud (áº©n danh reviewer).
      tags:
        - Ex-Rating
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: CV TÃ¬nh TrÆ°á»ng (Ä‘Ã£ trá»« 50 Xu)
          content:
            application/json:
              schema:
                type: object
                properties:
                  target_user_id:
                    type: string
                    format: uuid
                  average_rating:
                    type: number
                    example: 3.8
                  total_ratings:
                    type: integer
                    example: 5
                  tag_summary:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          type: string
                          example: '#Lá»‹ch_sá»±'
                        count:
                          type: integer
                          example: 4
        '400':
          description: KhÃ´ng Ä‘á»§ 50 Xu Ä‘á»ƒ tra cá»©u
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 400
                message: ERR_INSUFFICIENT_BALANCE
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /health:
    get:
      summary: Health check endpoint (dÃ¹ng cho Uptime Monitor vÃ  K8s probes)
      tags:
        - System
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: 1.1.0
                  uptime_seconds:
                    type: integer
  /bounties:
    post:
      summary: ÄÄƒng lá»‡nh truy nÃ£ háº¹n hÃ²
      tags:
        - Bounties
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                reward_amount:
                  type: integer
      responses:
        '201':
          description: Created
  /bounties/{id}/apply:
    post:
      summary: Ná»™p Ä‘Æ¡n á»©ng tuyá»ƒn lá»‡nh truy nÃ£
      tags:
        - Bounties
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Applied
  /auctions/{id}/bid:
    post:
      summary: Tráº£ giÃ¡ cho phiÃªn Ä‘áº¥u giÃ¡ mÃ¹
      tags:
        - Auctions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bid_amount:
                  type: integer
      responses:
        '200':
          description: Bid placed
  /wall-of-shames/{user_id}/throw-tomato:
    post:
      summary: NÃ©m cÃ  chua vÃ o Ä‘á»‘i tÆ°á»£ng bá»‹ phong sÃ¡t
      tags:
        - Drama
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thrown successfully
  /vibe-checks/match:
    post:
      summary: Match qua Spotify Track
      tags:
        - Vibe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                track_id:
                  type: string
      responses:
        '200':
          description: Matched
  /wingmans/referral:
    post:
      summary: Táº¡o link ghÃ©p Ä‘Ã´i cho báº¡n bÃ¨
      tags:
        - Wingman
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target1_id
                - target2_id
              properties:
                target1_id:
                  type: string
                  format: uuid
                target2_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  deep_link:
                    type: string
                  expires_at:
                    type: string
                    format: date-time
  /wingmans/referral/{id}/accept:
    post:
      summary: Cháº¥p nháº­n ghÃ©p Ä‘Ã´i tá»« CÃ² Má»‘i
      tags:
        - Wingman
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Accepted and Matched
          content:
            application/json:
              schema:
                type: object
                properties:
                  match_id:
                    type: string
                    format: uuid
                  status:
                    type: string
  /minigame/steal/init:
    post:
      summary: KÃ­ch hoáº¡t PK cÆ°á»›p Tháº» BÃ i
      tags:
        - Cards
        - Minigame
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - target_card_id
                - defender_id
              properties:
                target_card_id:
                  type: string
                  format: uuid
                defender_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: PK Match created
  /minigame/steal/submit:
    post:
      summary: Gá»­i káº¿t quáº£ tráº­n PK cÆ°á»›p Tháº» BÃ i
      tags:
        - Cards
        - Minigame
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - steal_id
                - is_win
              properties:
                steal_id:
                  type: string
                  format: uuid
                is_win:
                  type: boolean
      responses:
        '200':
          description: Káº¿t quáº£ Ä‘Æ°á»£c ghi nháº­n
  /chat/ws:
    get:
      summary: Káº¿t ná»‘i WebSocket nháº­n tin nháº¯n Real-time
      tags:
        - Chat
      responses:
        '101':
          description: Switching Protocols (WebSocket Connected)
  /chat/messages:
    post:
      summary: Gá»­i tin nháº¯n chat
      tags:
        - Chat
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - match_id
                - target_id
                - type
                - content
              properties:
                match_id:
                  type: string
                  format: uuid
                target_id:
                  type: string
                  format: uuid
                type:
                  type: string
                  example: text
                content:
                  type: string
                  example: Hello
      responses:
        '201':
          description: ÄÃ£ gá»­i
  /chat/messages/{match_id}:
    get:
      summary: Láº¥y lá»‹ch sá»­ chat
      tags:
        - Chat
      parameters:
        - name: match_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: before
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Lá»‹ch sá»­ tin nháº¯n
  /shames:
    get:
      summary: Láº¥y danh sÃ¡ch Wall of Shame
      tags:
        - Shames
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        user_id:
                          type: string
                          format: uuid
                        user_name:
                          type: string
                        avatar_url:
                          type: string
                        reason:
                          type: string
                        tomatoes_thrown:
                          type: integer
                        expires_at:
                          type: string
                          format: date-time
                        created_at:
                          type: string
                          format: date-time
  /shames/{id}/tomato:
    post:
      summary: NÃ©m cÃ  chua vÃ o Wall of Shame
      tags:
        - Shames
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: NÃ©m cÃ  chua thÃ nh cÃ´ng
        '400':
          description: Request khÃ´ng há»£p lá»‡

  /vibe/status:
    get:
      summary: Láº¥y tráº¡ng thÃ¡i Vibe Check
      tags:
        - Vibe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Tráº¡ng thÃ¡i Vibe Check
          content:
            application/json:
              schema:
                type: object
                properties:
                  unlocked:
                    type: boolean
                  message:
                    type: string
  /vibe/current-track:
    get:
      summary: Láº¥y bÃ i hÃ¡t Ä‘ang nghe (Mock Spotify)
      tags:
        - Vibe
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ThÃ´ng tin bÃ i hÃ¡t
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /vibe/match:
    post:
      summary: GhÃ©p Ä‘Ã´i Vibe Check
      tags:
        - Vibe
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                track_id:
                  type: string
      responses:
        '201':
          description: GhÃ©p Ä‘Ã´i thÃ nh cÃ´ng
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /auctions/active:
    get:
      summary: Láº¥y danh sÃ¡ch Ä‘áº¥u giÃ¡ Ä‘ang diá»…n ra
      tags: [Auction]
      security:
        - BearerAuth: []
      responses:
        '200':
          description: "ThÃ nh cÃ´ng"
  /auctions/{id}/bid:
    post:
      summary: Äáº·t giÃ¡ tháº§u
      tags: [Auction]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number }
      responses:
        '201':
          description: "ThÃ nh cÃ´ng"
  /matches/{match_id}:
    delete:
      summary: Há»§y tÆ°Æ¡ng há»£p (Unmatch)
      tags:
        - Matches
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: match_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Unmatch thÃ nh cÃ´ng
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unmatched successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /vouchers:
    get:
      summary: Danh sÃ¡ch Voucher kháº£ dá»¥ng
      tags:
        - Vouchers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
  /vouchers/redeem:
    post:
      summary: Äá»•i Xu láº¥y Voucher
      tags:
        - Vouchers
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brand:
                  type: string
                  example: Highlands
                value_xu:
                  type: integer
                  example: 100
      responses:
        '201':
          description: Äá»•i thÃ nh cÃ´ng
        '400':
          description: KhÃ´ng Ä‘á»§ Ä‘iá»ƒm hoáº·c háº¿t hÃ ng
  /admin/v1/vouchers:
    get:
      summary: (Admin) Danh sÃ¡ch táº¥t cáº£ Voucher
      tags:
        - Admin
        - Vouchers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: OK
    post:
      summary: (Admin) ThÃªm mÃ£ Voucher má»›i
      tags:
        - Admin
        - Vouchers
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brand:
                  type: string
                code:
                  type: string
                value_xu:
                  type: integer
                expires_at:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Created
  /admin/v1/vouchers/{id}:
    delete:
      summary: (Admin) XÃ³a/Thu há»“i Voucher chÆ°a dÃ¹ng
      tags:
        - Admin
        - Vouchers
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK


  /admin/v1/violations:
    get:
      summary: L?y danh sch vi ph?m (Admin)
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            default: 1
        - in: query
          name: limit
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Thnh cng
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                  total:
                    type: integer
                  page:
                    type: integer
                  limit:
                    type: integer
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/v1/users/{id}/ban:
    post:
      summary: Ban ngu?i dng (Admin)
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ban thnh cng

  /admin/v1/violations/{id}/media:
    delete:
      summary: Xa ?nh vi ph?m kh?i Cloudflare R2 (Admin)
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                object_key:
                  type: string
      responses:
        '200':
          description: Xa thnh cng

  /admin/v1/court/{id}/override:
    post:
      summary: Override k?t qu? ta n (Admin)
      tags:
        - Admin
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
      responses:
        '200':
          description: Override thnh cng
